body {
    margin-top: 20px;
}
p {
    text-align: justify;
    margin-right: 20px;
    margin-top: 20px;
}
h1 {
    text-align: center;
}
#left {
    background-color: rgb(251, 203, 203);
}
#right {
    background-color: rgb(253, 236, 184);
}
